<!-- loading circle -->
<div class="valign-wrapper center-align" style="height: 90vh">
  <div class="row">
    <span class="blue-text text-darken-2">Loading..</span>
    <div class="preloader-wrapper big active valign">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>