<div class="container">
	<div class="row">
		<div class="col s12">
			<!-- some user info -->
			<div class="card horizontal">
				<div class="card-image">
					<img src="{{ user.google.photoURL }}" style="max-height: 300px;max-width: 300px">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<span class="card-title">{{ user.google.displayName }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- favorites -->
		<div class="col s6">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Favourites</span>
					<div class="row">
					<div *ngFor="let favourite of favourites; let i=index">
                	<div *ngIf="i<favCount && favourite != null"> <!-- We only show the 3 first artists -->
                		<!-- Card for one artist -->
	                		<div class="col s4">
						              	<img src="{{ favourite.image_url }}" alt="" class="circle responsive-img">
						              	<p class="flow-text center">
						              		<a href="#" [routerLink]="['/artist', favourite.artist_id]">
			                        			{{ favourite.artist_name }}
			                        		</a>
			                        	</p>
						    </div>
	                </div>
                	</div>
					</div>
					<p class="center showmore">
						<a class="waves-effect waves-light btn" (click)="moreFav()">Show more</a>
						<!-- moreFav() shows 3 more artists -->
					</p>
				</div>
			</div> 
		</div> 		
		<!-- reviews -->
		<div class="col s6">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Reviews</span>
					<div *ngFor="let review of reviews | async; let i=index">
					{{ item | json}}
                	<div *ngIf="i<revCount && review != null"> <!-- We only show the 3 first reviews -->
                		<!-- Card for one review -->
                		<div class="row">
		                  <div class="col s12">
		                    <div class="card grey lighten-3">
		                      <div class="card-content black-text">
		                        <span class="card-title">
                              {{ review.title }} 
                              	<span class="rating right">
                                <star-rating-comp
                                       [size]="'medium'"
                                       [showHalfStars]="true"
                                       [readOnly]="true"
                                       [rating]="review.rating"
                                >
                                </star-rating-comp>
                              </span>
                            </span>
		                        <div *ngIf="review.content!=null">
		                        	<p><i> "{{ review.content }}"</i></p>
		                        </div>
		                        <br>
		                        <p>Review written for: 
		     						<a href="#" [routerLink]="['/artist', review.artist_id ]">
		                        	{{ review.artist_name }}
		                        	</a>
		                        </p>
		                      </div>
		                    </div>
	                  	</div>
	                  </div>
	                </div>
                </div>
                	<p class="center showmore">
						<a class="waves-effect waves-light btn" (click)="moreRev()">Show more</a>
						<!-- moreRev() shows 3 more reviews -->
					</p>
				</div>
			</div>
		</div>
		<ul>
			<li class="text" *ngFor="let user of users | async">
				<b>{{user.$key}}</b>&nbsp;<span>{{user.description}}</span>
			</li>
		</ul>
	</div>
</div>