<div class="container">
	<div class="row">
		<div class="col s12">
			<!-- some user info -->
			<div class="card horizontal">
				<div class="card-image">
					<img src="{{ user.google.photoURL }}" style="max-height: 300px;max-width: 300px">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<span class="card-title">{{ user.google.displayName }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- favorites -->
		<div class="col s6">
			<div class="card">
				<div class="card-content">
					<span class="card-title"><b>Favourites</b></span>
					<div *ngIf="(favourites | async).length==0">
						<p class="center"><i class="grey-text">So empty... Start searching for artists and add them to your favourites!</i></p>
					</div>
					<div class="row">
						<div *ngFor="let favourite of favourites | async; let i=index">
		                	<div *ngIf="i<favCount && favourite != null"> <!-- We only show the 3 first artists -->
		                		<!-- Card for one artist -->
			                		<div class="col s4 center">
								              	<img src="{{ favourite.image_url.url }}" onerror="this.src='https://image.flaticon.com/icons/png/512/78/78373.png'" alt="" class="circle responsive-img" style="height: 150px;width: 150px">
								              	<p class="flow-text center">
								              		<a href="#" class="orange-text" [routerLink]="['/artist', favourite.artist_id]">
					                        			{{ favourite.artist_name }}
					                        		</a>
					                        	</p>
								    </div>
			                </div>
	                	</div>
					</div>
					<div *ngIf="(favourites | async).length>favCount">
						<p class="center showmorefav">
							<a class="waves-effect waves-light btn" (click)="moreFav()">Show more</a>
							<!-- moreFav() shows 3 more artists -->
						</p>
					</div>
					<div *ngIf="(favourites | async).length>0 && (favourites | async).length<=favCount">
						<p class="center nomorefav">
							<a class="waves-effect waves-light btn disabled">Show more</a>
						</p>
					</div>
				</div>
			</div> 
		</div> 		
		<!-- reviews -->
		<div class="col s6">
			<div class="card">
				<div class="card-content">
					<span class="card-title"><b>Reviews</b></span>
					<div *ngIf="(reviews | async).length==0">
						<p class="center"><i class="grey-text">This would show your reviews... if you had any</i></p>
					</div>
					<div *ngFor="let review of reviews | async; let i=index">
                	<div *ngIf="i<revCount && review != null"> <!-- We only show the 3 first reviews -->
                		<!-- Card for one review -->
                		<div class="row">
		                  <div class="col s12">
		                    <div class="card grey lighten-3">
		                      <div class="card-content black-text">
		                        <span class="card-title">
                              {{ review.title }} 
                              	<span class="rating right">
                                <star-rating-comp
                                       [size]="'medium'"
                                       [showHalfStars]="true"
                                       [readOnly]="true"
                                       [rating]="review.rating"
                                >
                                </star-rating-comp>
                              </span>
                            </span>
		                        <div *ngIf="review.content!=null">
		                        	<p><i> "{{ review.content }}"</i></p>
		                        </div>
		                        <br>
		                        <p>Review written for: 
		     						<a href="#" class="orange-text" [routerLink]="['/artist', review.artist_id ]">
		                        	{{ review.artist_name }}
		                        	</a>
		                        </p>
		                      </div>
		                    </div>
	                  	</div>
	                  </div>
	                </div>
                </div>
                	<div *ngIf="(reviews | async).length>revCount">
	                	<p class="center showmorerev">
							<a class="waves-effect waves-light btn" (click)="moreRev()">Show more</a>
							<!-- moreRev() shows 3 more reviews -->
						</p>
					</div>
					<div *ngIf="(reviews | async).length>0 && (reviews | async).length<=revCount">
						<p class="center nomorerev">
							<a class="waves-effect waves-light btn disabled">Show more</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>