div.nav-wrapper {
  margin: 0 20px 20px 20px;
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
  height: 100% !important;
}

input[type="search"] {
  height: 64px !important; /* or height of nav */
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}