<div class="navbar-fixed">
  <nav id="main-nav">
  	<div class="nav-wrapper">
  		<a routerLink="home" routerLinkActive="active" class="brand-logo center">MyGIG</a>
  		<a materialize="sideNav" [materializeParams]="[{closeOnClick:true}]" data-activates="mobile-demo" class="button-collapse link"><i class="material-icons">menu</i></a>
      <ul class="left">
        <li>
          <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="input-field">
              <input id="search" type="search" name="search" required ngModel>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
          <!-- Wtf is this -->
          <!--
          <div class="tap-target" data-activates="search">
          	<div class="tap-target-content">
          		<h5> Test </h5>
          		<p> Askdaksk </p>
          	</div>
          </div>
          -->
        </li>
      </ul>
      
      
  		<ul class="right">
  		  <li><a routerLink="/user" routerLinkActive="active">{{ (af.auth | async)?.google.displayName }}</a></li>
        <li>
          <button *ngIf="!isAuth()" class="waves-effect waves-light btn" (click)="login()">Login With Google account</button>
          <button *ngIf="isAuth()" class="waves-effect waves-light btn"(click)="logout()">Logout</button>
         
        </li>
  	  </ul>
   	</div>
  </nav>
</div>

<router-outlet></router-outlet>


<!-- Simultaneously apply the directive and set the color in the same attribute (Highlighted with parent component's color) -->
<!-- async pipe allows us to bind our templates directly to values that arrive asynchronously. -->
<!--
<h4 *ngIf="isAuth()" [myHighlight]="color">Logged in user id</h4>
<div> {{ (af.auth | async)?.uid }} </div>

<div>{{ 10 | testPipe:5 }}</div>

<h5>Artists found when searching for "Bankroll Fresh"</h5>
<ul>
  <li *ngFor="let artist of artists; let i = index">{{ artist.name }}</li>
</ul>

<h5>Music events found in stockholm</h5>
<ul>
  <li *ngFor="let event of events; let i = index"><b>{{ event.title }}</b>, Date: {{ event.start_time }}</li>
</ul>
-->
