.main-picture {
  width: 100%;
  position: fixed;
  pointer-events: none;
  opacity: 0.6;
}

.parallax-container {
	width: 0;
	height: 0;
}

.fade {
	background-color: rgba(255,255,255,0.8);
}

ul.fade {
	opacity: 0.8;
}

div.album-card {
  height: auto;
}

i.preview-play {
  cursor: pointer;
}