<div [ngSwitch]="loading">
    <div *ngSwitchCase="false">
      <div class="container">
        <blockquote>
          <h5>Music events found for: {{ searchTerm }}</h5>
        </blockquote>
        <div class="row">
          <div class="col s12 m6 l4" *ngFor='let result of results'>
            <div class="card">
                <div class="card-image">
                  <!--<img src="images/sample-1.jpg" alt="TODO">-->
                  <!--<span class="card-title">{{ result.title }}</span>-->
                </div>
                <div class="card-content">
                  <p>Title: {{ result.displayName }}</p>
                  <p>Location: {{ result.venue.displayName }}, {{ result.location.city }}</p>
                  <p>Date: {{ result.start.date }}</p>
                  <p>Time: {{ result.start?.time ? result.start?.time  : 'Not specified'}}</p>
                  <p>Artist: {{ result.performance[0].artist.displayName  }}</p>
                </div>
                <div class="card-action valign">
                  <a href="#" [routerLink]="['/concert', result.id ]">Read more</a>
                </div>    
            </div>
          </div>
        </div>
        <blockquote>
           <h5>Artists found for: {{ searchTerm }}</h5>
        </blockquote>
        <div class="row">
          <div class="col s12 m6 l4" *ngFor='let artist of artists'>
            <div class="card">
                <div class="card-image">
                  <!--<img src="{{ artist.images[0]?.url }}" alt="TODO">-->
                  <!--<span class="card-title">{{ result.title }}</span>-->
                </div>
                <div class="card-content">
                  <p>Name: {{ artist.name }}</p>
                </div>
                <div class="card-action valign">
                  <a href="#" [routerLink]="['/artist', artist.id ]">Read more</a>
                </div>    
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="true">
      <app-loading-indicator></app-loading-indicator>
    </div>
</div>



