div.card {
  /*height: 200px;*/
  overflow: hidden;
  background-size: cover;
}

.artist img {
	height: 200px;
}

.card .card-image .card-title {
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px;
   margin-bottom: 25px;
}

.card .card-image {
  background-image: cover;
}
