div.card {
  height: 300px;
  overflow: hidden;
}

.card img {
	height: 300px;
}

.card-title {
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 

   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 5px;
   margin-bottom: 25px; 
}
