div.card {
  height: 300px;
  overflow: hidden;
}

div.card-content {
  height: 200px;
  overflow-y: auto;
}

div.card-action {
  text-align: center;
  margin-top: 20px;
}

div.card-action a {
  margin: 0 auto;
}