<div class="container">
  <h3>{{ concert?.displayName }}</h3>
  <!-- Card for information about the artist -->
  <div class="row">
    <div class="col s12">
      <div class="card horizontal white">
        <div class="card-image">
          <img src="{{ artist?.images[0].url }}">
        </div>
        <div class="card-stacked">
          <div class="card-content black-text">
            <span class="card-title"><b>Headliner:</b> {{ concert?.performance[0].displayName }}</span>
            <p>Popularity on Spotify: </p>
            <div class="progress">
              <div [style.width]="artistPopularity + '%'" class="determinate"></div>
            </div>
            <p>Genres: </p>
            <ng-container *ngFor="let genre of artist?.genres">
              <div class="chip">
                {{ genre }}
              </div>
            </ng-container>
          </div>
          <div class="card-action">
            <a href="#" [routerLink]="['/artist', id ]">Go to artist's page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card for information about the venue -->
  <div class="row">
    <div class="col s12">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title"><b>Venue</b></span>
          <ul class="collection">
            <li class="collection-item"><b>Name: </b>{{ concert?.venue.displayName ? concert.venue.displayName : 'Not Available' }}</li>
            <li class="collection-item"><b>Address: </b>{{ concert?.venue.street ? concert.venue.street : 'Not Available' }}, {{ concert?.venue.city ? concert?.venue.city.displayName : 'Not Available'}}</li>
            <li class="collection-item"><b>Phone: </b>{{ concert?.venue.phone ? concert.venue.phone : 'Not Available'}}</li>
          </ul>
          <h5>Map</h5>
          <sebm-google-map [latitude]="lat" [longitude]="lng">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
          </sebm-google-map>
        </div>
        <div class="card-action">
          <a href="{{ concert?.venue.website }}">Go to venue's web page</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Additional information card -->
  <div class="row">
    <div class="col s12">
      <div class="card white">
        <div class="card-content black-text">
          <span class="card-title"><b>Event</b></span>
          <h5>Performances</h5>
          <ul class="collection">
            <li class="collection-item"><b>Headliner: </b>{{ concert ? concert.performance[0].displayName : 'Not Available'}}</li>
            <ng-container *ngFor="let performer of concert?.performance; let i=index">
           		<ng-container *ngIf="i>0">
           			<li class="collection-item"><b>Supporting act: </b>{{ performer?.displayName }}</li>
           		</ng-container>
            </ng-container>
          </ul>
          <h5>Good to know</h5>
          <ul class="collection">
          	<li class="collection-item"><b>Date: </b>{{ concert?.start.date ? concert.start.date : 'Not Available'}}</li>
          	<li class="collection-item"><b>Time: </b>{{ concert?.start.time ? concert.start.time : 'Not Available'}}</li>
          	<li class="collection-item"><b>Age Restriction: </b>{{ concert?.ageRestriction ? concert.ageRestriction : 'None'}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>